<%- include("partials/header") %>
<main>
<h1>Applications</h1>

<% applications.forEach(application => { %>
    <div class="application-card">
        <section>
            <form method="POST" action="/review">

                <h2>Applicant: <%= application.first_name %> <%= application.last_name %></h2>

                <p><strong>Loan Type:</strong> <%= capitalize(application.loan_type) %></p>
                <p><strong>Amount:</strong> $<%= application.amount %></p>
                <p><strong>Income Type:</strong> <%= application.pay_type%></p>
                <p><strong>Income:</strong> $<%= application.income_amount %></p>
                <p><strong>Employer:</strong> <%= capitalize(application.employer_name) %></p>
                <p><strong>Status:</strong> 
                    <span class="<%= (application.status || 'pending').toLowerCase() %>">
                        <%= capitalize(application.status || "pending") %>
                    </span>
                </p>

                <hr>
                <h2>Existing Debts:</h3>
                <p><strong>Monthly Rent:</strong> $<%= application.housing_payment%></p>
                <p><strong>Total Monthly Debt:</strong> $<%= application.total_monthly_debt %></p>
                <p><strong>Total Balances:</strong> $<%= application.total_balance %></p>
                <!-- IMPORTANT hidden id -->
                <input type="hidden" name="application_id" value="<%= application.application_id %>">

                <!-- status update -->
                <label>Update Status</label>
                <select name="status" required>
                    <option value="">Select</option>
                    <option value="pending">Pending</option>
                    <option value="approved">Approved</option>
                    <option value="denied">Denied</option>
                </select>

                <button type="submit">Update</button>
            </form>
        </section>
    </div>
<% }) %>
</main>
<%- include("partials/footer") %>